
@{
    ViewData["Title"] = "Mantenedor";
}

@section script{

    <!--Page Script-->

        <script src="~/js/test.js"></script>


}
<h2>Mantenedor</h2>

<button class="btn btn-primary" id="btn" type="button"><i class="glyphicon glyphicon-list-alt"></i> presione</button>


