@{
    ViewData["Title"] = "Preparar Nómina Pensionado";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
    <environment include="Development">
        <script src="~/js/pensionado/prepararNominaPens.js"></script>
        <script src="~/js/pensionado/formatoListaDocumentosPens.js"></script>
    </environment>
   <environment exclude="Development">
        <script src="~/js/pensionado/prepararNominaPens.min.js?g=@Guid.NewGuid().ToString()"></script>
        <script src="~/js/pensionado/formatoListaDocumentosPens.js?g=@Guid.NewGuid().ToString()"></script>
    </environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">
        <div class="btn-group">
            <button class="btn btn-default" data-target="#modal-pistoleo" data-toggle="modal"><i class="glyphicon glyphicon-barcode"></i></button>
        </div>
    </div>
    <div class="col-sm-6 table-toolbar-right">
        <div class="btn-group">
            <button class="btn btn-default" id="btn-exportar-excel"><i class="fa fa-file-excel-o"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <table id="tabla-generica"
           data-toggle="table"
           data-url="/api/pensionado/wf/v1/mis-solicitudes/@ProcesoDocumentos.ETAPA_PREPARAR_NOMINA"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-sort-name="folio"
           data-page-list="[]"
           data-page-size="20"
           data-side-pagination="server"
           data-pagination="true" data-show-pagination-switch="true">
        <thead>
            <tr>
                <th data-field="folio" data-sortable="false">Folio Pensionado</th>
                <th data-field="rutCliente" data-align="center" data-sortable="false">Rut Pensionado</th>
                <th data-field="nombreCliente" data-align="center" data-sortable="false">Nombre Pensionado</th>
                <th data-field="documento" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentosPens">Documentos</th>
                <th data-field="motivo" data-align="center" data-sortable="false">motivo</th>
                <th data-field="tipo" data-align="center" data-sortable="false">Tipo</th>
                <th data-field="fecha" data-align="center" data-sortable="false">Fecha</th>
            </tr>
        </thead>
    </table>
 </div>
<input type="hidden" id="etapa-actual" value="@ProcesoDocumentos.ETAPA_PREPARAR_NOMINA" />
<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="modal-pistoleo" role="dialog" tabindex="-1" aria-labelledby="modal-pistoleo" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frm-pistoleo">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Validación de Documentos para Pensionado</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Pistolea el documento</label>
                        <input type="text" id="folio-shot" class="form-control solo-numeros" maxlength="@ViewBag.CantidadCaracteresFolio" placeholder="Pistolea el documento" autocomplete="off" />
                    </div>
                    <div class="well contenedor-folios">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-generar-generico">Finalizado</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->
<canvas id="barcode"></canvas>
