@model Galvarino.Web.Controllers.Pensionados.ModeloBusqueda
@{
    ViewData["Title"] = "No Encontrado";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Búsquedas</li>
    <li>Pensionados</li>
    <li class="active">@ViewData["Title"]</li>
}



<div class="row">
    <div class="col-sm-12">
        <h1>No se encontro el folio de pensionado buscado.</h1>
    </div>
</div>