@{
    ViewData["Title"] = "Home Page";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li><a href="#">Etapas</a></li>
    <li class="active">Inicio</li>
}


<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
