<html>
<head>
</head>


<body>
    <input type="text" id="texto" />

    <button onclik="click()">Presione</button>

    <script type="text/javascript">

        function() {
            var texto = document.getElementById(texto);
            window.location.href = "https://api.whatsapp.com/send?phone=56985002727&text=texto;

        }

    </script>
</body>



</html>
