@{
    ViewData["Title"] = "Almacenaje Set Comercial";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/almacenajeComercial.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/almacenajeComercial.min.js?g=@Guid.NewGuid().ToString()"></script>
</environment>

}

<div class="row">
    <div class="col-sm-12 table-toolbar-left">                      
        <div>
            <button class="btn btn-primary " id="btn-generar-generico" type="button"><i class="glyphicon glyphicon-list-alt"></i> Cerrar Caja</button> 
            <div class="col-md-4">
                <input type="number" class="form-control" placeholder="Cantidad de Expedientes a Ingresar" id="cantidad-expedientes" />
            </div>
            <a class="btn btn-primary pull-right" href="/wf/v1/almacenaje-set-comercial/historial"><i class="glyphicon glyphicon-list-alt"></i> Historial de Cajas</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><strong>Recuerda!</strong> Debes ordenar los documentos según como aparecen en la nómina.</div>
    </div>
</div>
<div class="row">
    <table          id="tabla-generica"
                    data-toggle="table"
                    data-url="/api/wf/v1/listar-comerciales"
                    data-search="false"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-page-list="[]"
                    data-page-size="80"
                    data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="expediente.credito.folioCredito" data-formatter="formatoIncrementor" data-sortable="false">#</th>
                <th data-field="expediente.credito.folioCredito" data-sortable="false">Folio Credito</th>
                <th data-field="expediente.credito.tipoCredito" data-sortable="false" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="expediente.credito.fechaDesembolso" data-sortable="false" data-formatter="formatoFecha">Fecha Colocación</th>
            </tr>
        </thead>
    </table>
</div>