@{
    ViewData["Title"] = "Apertura de Valija";
}


@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
<environment include="Development">
    <script src="~/js/aperturaValija.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/aperturaValija.min.js?g=@Guid.NewGuid().ToString()"></script>
</environment>

}


<div class="row">
    <table id="tabla-generica" data-toggle="table"
                    data-url="/api/app/v1/listar-valijas-enviadas/MSC_APERTURA"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="codigoSeguimiento"
                    data-page-list="[]"
                    data-page-size="20"
                    data-pagination="true" 
                    data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="codigoSeguimiento" data-align="center" data-sortable="true" data-formatter="linkFolio">Folio Valija</th>
                <th data-field="oficina.id" data-align="center" data-sortable="true" data-formatter="nroExpedientes">N° Expedientes</th>
                <th data-field="fechaEnvio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                <th data-field="oficina.nombre" data-align="center" data-sortable="true">Oficina Envío</th>
            </tr>
        </thead>
    </table>
</div>


<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="modal-pistoleo" role="dialog" tabindex="-1" aria-labelledby="modal-pistoleo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frm-pistoleo">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Expedientes en Valija: <label id="folioValijia"></label></h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label class="control-label">Pistolea los documentos para validarlos</label>
                        <input type="text" id="folio-shot" class="form-control solo-numeros" maxlength="@ViewBag.CantidadCaracteresFolio" placeholder="Pistolea el documento" autocomplete="off" />
                    </div>

                    <div class="well contenedor-folios">
                        
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-generar-generico">Recepcionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->
