@{
    ViewData["Title"] = "Despacho a Custodia";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
    <environment include="Development">
        <script src="~/js/despachoCustodia.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/despachoCustodia.min.js?g=@Guid.NewGuid().ToString()"></script>
    </environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">
        <div class="btn-group">
            <button class="btn btn-primary" data-target="#modal-pistoleo" data-toggle="modal" type="button"><i class="glyphicon glyphicon-barcode"></i> Generar Nómina</button>

        </div>
    </div>
</div>
<div class="row">
    <table id="tabla-generica"
           data-toggle="table"
           data-url="/api/wf/v1/mis-solicitudes/@ProcesoDocumentos.ETAPA_DESPACHO_A_CUSTODIA"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-sort-name="id"
           data-page-list="[]"
           data-page-size="20"
           data-side-pagination="server"
           data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="folioCredito" data-sortable="true">Folio Crédito</th>
                <th data-field="rutCliente" data-align="center" data-sortable="true">Rut Afiliado</th>
                <th data-field="tipoCredito" data-sortable="true" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="folioCredito" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentos">Documentos</th>
                <th data-field="fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Desembolso</th>
            </tr>
        </thead>
    </table>
</div>
<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="modal-pistoleo" role="dialog" tabindex="-1" aria-labelledby="modal-pistoleo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frm-pistoleo">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title titulo-genera-cajas"></h4>
                    <input type="hidden" id="codigo-caja-valorada" value="" />
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Pistolea el documento</label>
                        <input type="text" id="folio-shot" class="form-control solo-numeros" maxlength="@ViewBag.CantidadCaracteresFolio" placeholder="Pistolea el documento" autocomplete="off" />
                    </div>
                    <div class="well contenedor-folios">

                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-generar-generico">Finalizado</button>
                </div>
            </form>
        </div>
    </div>
</div>
<canvas id="barcode"></canvas>