@{
    ViewData["Title"] = "Ingreso de Expediente Legalizado";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/documentosLegalizados.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/documentosLegalizados.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">                      
       <form id="form-pistoleo-detalle">
            <div class="input-group mar-btm">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input class="form-control" placeholder="Pistolear" type="text" id="folio-shot" autocomplete="off">
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-primary" type="button" id="btn-generar-generico"><i class="fa fa-clone"></i> Procesar Expedientes</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><strong>Recuerda!</strong> Debes pistolear los documentos de los expedientes que ya estan legalizados.</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well contenedor-folios text-left"></div>
    </div>
</div>
