@{
    ViewData["Title"] = "Preparar Nómina Especial";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
    <environment include="Development">
        <script src="~/js/documentosLegalizados.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/documentosLegalizados.min.js?g=@Guid.NewGuid().ToString()"></script>
    </environment>

}

<div class="row">
    <div class="col-sm-9 table-toolbar-left">
        <form id="form-pistoleo-detalle">
            <div class="form-group pad-ver">
                <div class="col-md-12">
                    <div class="radio">

                        <input id="radio-acuerdo-pago-total" class="magic-radio" type="radio" onclick="rdcheck(this)" value="ACUERDO_PAGO_TOTAL" name="TipoMarca">
                        <label for="radio-acuerdo-pago-total">Acuerdos de Pago Totales</label>

                        <input id="radio-nulos" class="magic-radio" type="radio" value="NULO" onclick="rdcheck(this)" name="TipoMarca">
                        <label for="radio-nulos">Nulos</label>

                    </div>
                </div>
            </div>

            <div class="form-group pad-ver">
                <div class="input-group mar-btm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input class="form-control" placeholder="Pistolear" type="text" id="folio-shot" autocomplete="off">
                </div>
            </div>


        </form>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary" type="button" id="btn-generar-generico"><i class="fa fa-clone"></i> Procesar Expedientes</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><strong>Recuerda!</strong> Debes pistolear los documentos de acuerdo con la opcion marcada, para pistolear otro tipo debes primero procesar los que pistoleaste.</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well contenedor-folios text-left"></div>
    </div>
</div>
