@{
    ViewData["Title"] = "Envío a Notaría";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section style{
    <!--Bootstrap Table-->
    <link href="~/lib/css/bootstrap-table.min.css" rel="stylesheet">
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/lib/js/bootstrap-table.min.js"></script>
    <script src="~/js/despachoNotaria.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/despachoNotaria.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">                      
        <div class="btn-group">
            <button class="btn btn-default" data-target="#modal-pistoleo" data-toggle="modal"><i class="demo-pli-exclamation"></i></button>
            <button class="btn btn-default"><i class="demo-pli-recycling"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <table data-toggle="table"
                    data-url="/api/wf/v1/mis-solicitudes"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-sort-name="id"
                    data-page-list="[]"
                    data-page-size="20"
                    data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="credito.folioCredito" data-sortable="true">Folio Credito</th>
                <th data-field="credito.montoCredito" data-sortable="true">Documentos</th>
                <th data-field="credito.fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Desembolso</th>
                <th data-field="credito.montoCredito" data-align="center" data-sortable="true" >Monto Credito</th>
                <th data-field="tarea.etapa.nombre" data-align="center" data-sortable="true">Etapa</th>
                <th data-field="track" data-align="center" data-sortable="true" data-formatter="trackFormatter">Tracking Pack</th>
            </tr>
        </thead>
    </table>
</div>


<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="modal-pistoleo" role="dialog" tabindex="-1" aria-labelledby="modal-pistoleo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frm-pistoleo">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Generar pack por pistoleo</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Pistolea el documento</label>
                        <input type="text" id="folio-shot" class="form-control" maxlength="@ViewBag.CantidadCaracteresFolio" placeholder="Pistolea el documento" autocomplete="off" />
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-generar-generico">Generar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->