@{
    ViewData["Title"] = "Mis Resumen";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    
    @if((string)ViewData["etapaIn"] != "")
    {
        <li>@ViewData["Title"]</li>
        <li class="active">@ViewData["etapaIn"]</li>
    }
    else
    {
        <li class="active">@ViewData["Title"]</li>
    }
}

@section script{
     <!--Page Script-->
    <environment include="Development">
        <script src="~/js/mis-solicitudes.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/mis-solicitudes.min.js"></script>
    </environment>
}



<table id="tabla-generica" data-toggle="table"
                data-url="/api/wf/v1/mi-resumen"
                data-search="false"
                data-show-refresh="false"
                data-show-toggle="false"
                data-show-columns="false"
                data-sort-name="id"
                data-page-list="[]"
                data-page-size="20"
                data-pagination="true" data-show-pagination-switch="false">
    <thead>
        <tr>
            <th data-field="tarea" data-align="center" data-sortable="true">Tarea</th>
            <th data-field="total" data-align="center" data-sortable="true">Cantidad de Expedientes</th>
            
        </tr>
    </thead>
</table>