@{
    ViewData["Title"] = "Reasignación Oficina de Expediente";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
    <script>

        function Limpiar()
        {
            location.reload();
            return;
        }

        function ValidaInput()
        {
            debugger;
            var inputBusqueda = $('#inputBusqueda').val();
            if (inputBusqueda == "") {
                $('#btn_guardar').attr('disabled', true);
                $('#nuevaOficina').attr('disabled', true);
            }
            else
            {
                $('#btn_guardar').attr('disabled', false);
                $('#nuevaOficina').attr('disabled', false);
            }
        }


        var select = document.getElementById('nuevaOficina');
       
        debugger;
        select.addEventListener('change',
            function () {
                debugger;
                var selectedOption = this.options[select.selectedIndex];
                if (selectedOption.text == "Selecciona" ) {
                    $('#btn_guardar').attr('disabled', true);
                }
                else {
                    $('#btn_guardar').attr('disabled', false);
                }
                console.log(selectedOption.value + ': ' + selectedOption.text);
            });


        

        $(function () {
            $("#form-busqueda").on("submit", function (event) {
                debugger;
                var inputBusqueda = $('#inputBusqueda').val();
                $.ajax({
                    type: "GET",
                    url: `/api/wf/v1/reasignaciones/oficinas`,
                    data: {
                        q: inputBusqueda
                    }
                }).done(function (data) {
                    if (typeof data != 'undefined') {
                        debugger;
                        $('#folio-credito').val(data.cargaInicial.folioCredito)
                        $('#datos-credito').html("")
                            .append(`<small>Datos Credito</small>`)
                            .append(`<h5>Folio: ${data.cargaInicial.folioCredito}</h5>`)
                            .append(`<p> Rut: ${data.cargaInicial.rutAfiliado}<br/>F. Coloc.: ${data.cargaInicial.fechaVigencia}</p>`);

                        $('#oficina-oferta').html("")
                            .append(`<small>Oficina Evaluadora</small>`)
                            .append(`<h5>${data.oficinaComercial.nombre}</h5>`)
                            .append(`<p> Codigo: ${data.oficinaComercial.codificacion}</p>`);

                        $('#oficina-colocacion').html("")
                            .append(`<small>Oficina de Pago</small>`)
                            .append(`<h5>${data.oficinaLegal.nombre}</h5>`)
                            .append(`<p> Codigo: ${data.oficinaLegal.codificacion}</p>`);



                        $.ajax({
                            type: "GET",
                            url: `/api/wf/v1/reasignaciones/cargaoficinas`,
                            data: {
                                q: data.oficinaComercial.esRM
                            }
                        }).done(function (data) {
                            debugger;
                            $('#nuevaOficina').attr('disabled', false);
                            $('#inputBusqueda').attr('disabled', true);
                            
                            $("#nuevaOficina").empty();
                            $("#nuevaOficina").append('<option value="">Selecciona</option>');
                            $.each(data, function (key, registro) {
                                $("#nuevaOficina").append('<option value=' + registro.Id + '>' + registro.Nombre + '</option>');

                            })


                        });


                    } else {
                        $('#datos-credito').html("<h1>No encontramos lo que buscas!</h1>")
                    }
                }).fail(function (err) {
                    $('#datos-credito').html("<h1>No encontramos lo que buscas!</h1>")
                    console.log({ err })
                })

                return false;
            });
            // 04/09/2019 cambio de logica en llamado en evento de boton guardar , para habilitar boton nueva consulta
            
            //$("#form-generico").on("submit", function (event) {
             //    debugger;
            //    event.preventDefault();
            //    var model = {
            //        folioCredito: $('#folio-credito').val(),
            //        nuevaOficina: $("#nuevaOficina").val(),
            //        tipo: 'Legal'
            //    }

            //    console.log({
            //        model
            //    })
            //    // Carga información de  oficinas
            //     $.ajax({
            //        type: "POST",
            //        url: `/api/wf/v1/reasignaciones/oficinas`,
            //        data: JSON.stringify(model),
            //        contentType: "application/json; charset=utf-8"
            //    }).done(function (data) {
            //        $.niftyNoty({
            //            type: "success",
            //            container: "floating",
            //            title: "Despacho a Notaría",
            //            message: "Cambios Guardados...<br/><small>Correctamente!!!</small>",
            //            closeBtn: true,
            //            timer: 5000,
            //            onHidden: function () {

            //            },


            //        })
            //        // Recarga formulario para mostrar nuevas asignación de oficina
            //        var inputBusqueda = $('#inputBusqueda').val();
            //        $.ajax({
            //            type: "GET",
            //            url: `/api/wf/v1/reasignaciones/oficinas`,
            //            data: {
            //                q: inputBusqueda
            //            }
            //        }).done(function (data) {
            //            if (typeof data != 'undefined') {
            //                debugger;
            //                   $('#oficina-colocacion').html("")
            //                    .append(`<small>Oficina de Pago</small>`)
            //                    .append(`<h5>${data.oficinaLegal.nombre}</h5>`)
            //                    .append(`<p> Codigo: ${data.oficinaLegal.codificacion}</p>`);
            //            }
            //            })
                



            //    }).fail(function (errMsg) {
            //        $.niftyNoty({
            //            type: "warning",
            //            container: "floating",
            //            title: "Avance Tareas",
            //            message: errMsg.responseText,
            //            closeBtn: true,
            //            timer: 5000

            //        });
            //    })
            //});

            $(document).ready(function () {

                $('#btn_guardar').attr('disabled', true);
                $('#nuevaOficina').attr('disabled', true);

                $('#inputBusqueda').on('input', function () {
                    this.value = this.value.replace(/[^0-9]/g, '');
                });

               $("#btn_guardar").click(function () {
                   debugger;
                event.preventDefault();
                var model = {
                    folioCredito: $('#folio-credito').val(),
                    nuevaOficina: $("#nuevaOficina").val(),
                    tipo: 'Legal'
                }

                console.log({
                    model
                })
                // Carga información de  oficinas
                 $.ajax({
                    type: "POST",
                    url: `/api/wf/v1/reasignaciones/oficinas`,
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {
                    $.niftyNoty({
                        type: "success",
                        container: "floating",
                        title: "Despacho a Notaría",
                        message: "Cambios Guardados...<br/><small>Correctamente!!!</small>",
                        closeBtn: true,
                        timer: 5000,
                        onHidden: function () {

                        },


                    })
                    // Recarga formulario para mostrar nuevas asignación de oficina
                    var inputBusqueda = $('#inputBusqueda').val();
                    $.ajax({
                        type: "GET",
                        url: `/api/wf/v1/reasignaciones/oficinas`,
                        data: {
                            q: inputBusqueda
                        }
                    }).done(function (data) {
                        if (typeof data != 'undefined') {
                            debugger;
                               $('#oficina-colocacion').html("")
                                .append(`<small>Oficina de Pago</small>`)
                                .append(`<h5>${data.oficinaLegal.nombre}</h5>`)
                                .append(`<p> Codigo: ${data.oficinaLegal.codificacion}</p>`);
                        }
                        })

                   }).fail(function (errMsg) {
                    $.niftyNoty({
                        type: "warning",
                        container: "floating",
                        title: "Avance Tareas",
                        message: errMsg.responseText,
                        closeBtn: true,
                        timer: 5000

                    });
                })
            });



            })

        });
    </script>
}

    <div class="row">
        <form id="form-busqueda" class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="inputBusqueda" class="form-control" placeholder="Ingresa el Folio del Credito"  autocomplete="off" />

                    </div>
                </div>
            </div>
        </form>
        <form id="form-generico" class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 text-left" id="datos-credito">
                </div>
                <div class="col-sm-3 text-left hidden" id="datos-workflow">
                </div>
                <div class="col-sm-3 text-left" id="oficina-oferta">
                </div>
                <div class="col-sm-3 text-left" id="oficina-colocacion">
                </div>
            </div>

            <div class="row mar-top">
                <div class="col-sm-6 text-left">
                    <small>Reasignar Oficina de Pago</small>
                    <select class="form-control" id="nuevaOficina">
                        <option value="">Selecciona</option>
                     
                    </select>
                    <div class="btn-group mar-top">
                        <input type="hidden" id="folio-credito" value="" />
                        <button id="btn_guardar" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                    <div class="btn-group mar-top">
                        <button id="btn_nuevo" onclick="Limpiar()" style="margin-right: 150px;" class="btn btn-info">Nueva Consulta</button>
                    </div>

                </div>


            </div>


        </form>
        
      


    </div>
