@{
    ViewData["Title"] = "Recepción Expedientes a Legalizar";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{
 <!--Page Script-->
<environment include="Development">
    <script src="~/js/recepcionExpedienteMatriz.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/recepcionExpedienteMatriz.min.js"></script>
</environment>

}
@if(ViewBag.folioCaja.Length == 0)
{
<div id="maestro">
    <div class="row">
        <div class="col-sm-6 table-toolbar-left">    
            <form id="form-pistoleo-maestro">
                <div class="input-group mar-btm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input class="form-control" placeholder="Pistolear" type="text" id="codigoSeguimiento" autocomplete="off">
                </div>
            </form>                  
        </div>
    </div>
    <div class="row">
        <table id="tabla-generica" data-toggle="table"
                        data-url="/api/app/v1/listar-valijas-enviadas-oficina/INI"
                        data-search="true"
                        data-show-refresh="false"
                        data-show-toggle="false"
                        data-show-columns="false"
                        data-sort-name="codigoSeguimiento"
                        data-page-list="[]"
                        data-page-size="20"
                        data-pagination="true" data-show-pagination-switch="false">
            <thead>
                <tr>
                    <th data-field="codigoSeguimiento" data-align="center" data-formatter="linkFolio" data-sortable="true">Folio Valija</th>
                    <th data-field="codigoSeguimiento" data-align="center" data-sortable="true" data-formatter="nroExpedientes">N° Expedientes</th>
                    <th data-field="fechaEnvio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
}
else
{

<div id="detalle">
    <div class="row">
        <div class="col-sm-6 table-toolbar-left">    
            <form id="form-pistoleo-detalle">
                <div class="input-group mar-btm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input class="form-control" placeholder="Pistolear" type="text" id="folio-shot" />
                </div>
                <input type="hidden" value="@ViewBag.folioCaja" id="folioCaja" />    
            </form> 
        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary" id="btn-generar-generico" ><i class="glyphicon glyphicon-folder-close"></i> Procesar Documentos</button>                 
        </div>
    </div>
    <div class="row">
        <div class="well contenedor-folios"></div>
    </div>
</div>

}