@{
    ViewData["Title"] = "Recepción de Valija Mesa de Control";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{
 <!--Page Script-->
<environment include="Development">
    <script src="~/js/recepcionMsControl.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/recepcionMsControl.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">    
        <form id="form-pistoleo">
            <div class="input-group mar-btm">
                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                <input class="form-control" placeholder="Pistolear" type="text" id="codigoSeguimiento" autocomplete="off">
            </div>
        </form>                  
        
    </div>
</div>
<div class="row">
    <table id="tabla-generica" data-toggle="table"
                    data-url="/api/app/v1/listar-valijas-enviadas/MS_CONTROL"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="codigoSeguimiento"
                    data-page-list="[]"
                    data-page-size="20"
                    data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="codigoSeguimiento" data-align="center" data-sortable="true">Folio Valija</th>
                <th data-field="oficina.id" data-align="center" data-sortable="true" data-formatter="nroExpedientes">N° Expedientes</th>
                <th data-field="fechaEnvio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                <th data-field="oficina.nombre" data-align="center" data-sortable="true">Oficina Envío</th>
            </tr>
        </thead>
    </table>
</div>
