@{
    ViewData["Title"] = "Solucionar Expediente Faltante";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/solicionDocsFaltantes.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/solicionDocsFaltantes.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">                      
        <div class="btn-group">
            <button class="btn btn-primary" id="btn-generar-generico" type="button"><i class="glyphicon glyphicon-list-alt"></i> Reparos Resueltos</button>
        </div>
    </div>
</div>
<div class="row">
    <table          id="tabla-generica" 
                    data-toggle="table"
                    data-url="/api/wf/v1/mis-solicitudes/@ProcesoDocumentos.ETAPA_DOCUMENTACION_FALTANTE"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="expediente.valijaValorada.fechaEnvio"
                    data-page-list="[]"
                    data-page-size="40"
                    data-pagination="true" 
                    data-show-pagination-switch="false"
                    data-locale="es-CL">
        <thead>
            <tr>
                <th data-field="reparo" data-formatter="formatoReparo">Doc. Faltante</th>
                <th data-field="expediente.credito.folioCredito" data-sortable="true">Folio Credito</th>
                <th data-field="expediente.credito.rutCliente" data-align="center" data-sortable="true" >Rut Afiliado</th>
                <th data-field="expediente.credito.tipoCredito" data-sortable="true" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="expediente.credito.folioCredito" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentos">Documentos</th>
                <th data-field="expediente.credito.fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Desembolso</th>
                <th data-field="expediente.valijaValorada.fechaEnvio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fec. Envío Sucursal</th>
                <th data-field="expediente.valijaValorada.codigoSeguimiento" data-align="center" data-sortable="true">Valija</th>
            </tr>
        </thead>
    </table>
</div>

