@{
    ViewData["Title"] = "Despacho de Sucursal a Of. de Partes Set Complementario";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

    <!--Page Script-->
    <environment include="Development">
        <script src="~/js/despachoaOfPartesSc.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/despachoaOfPartesSc.min.js?g=@Guid.NewGuid().ToString()"></script>
    </environment>

}

<div class="row">
    <div class="col-sm-2 table-toolbar-left">
        <div class="btn-group">
            <button class="btn btn-primary" id="btn-generar-generico" type="button"><i class="glyphicon glyphicon-list-alt"></i> Generar Despacho</button>
        </div>
    </div>
    <div class="col-sm-2 table-toolbar-left">
        <div id="filter-dp-component">
            <div class="input-group date">
                <input type="text" class="form-control" id="fecha_filtro">
                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
            </div>
            <small class="text-muted">Selecciona una fecha para el envío</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><strong>Recuerda!</strong> Al presionar el botón "Generar Despacho" solo se procesaran los Documentos que tienes en pantalla.</div>
    </div>
</div>
<div class="row">
    <table id="tabla-generica"
           data-toggle="table"
           data-url="/api/wfSc/v1/nomina-setcomplementario/@ProcesoDocumentos.ETAPA_DESPACHO_OFICINA_DE_PARTES_SET_COMPLEMENTARIO"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-sort-name="folioCredito"
           data-page-list="[]"
           data-page-size="40"
           data-pagination="true"
           data-side-pagination="server"
           data-show-pagination-switch="false"
           data-locale="es-CL">
        <thead>
            <tr>
                <th data-field="folioCredito" data-sortable="true">Folio Crédito</th>
                <th data-field="rutCliente" data-align="center" data-sortable="true">Rut Afiliado</th>
                <th data-field="tipoCredito" data-sortable="true" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="folioCredito" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentosSetComplementarios">Documentos</th>
                <th data-field="fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Colocación</th>
            </tr>
        </thead>
    </table>
</div>

<input type="hidden" id="la_etapa" value="@ProcesoDocumentos.ETAPA_DESPACHO_OFICINA_DE_PARTES_SET_COMPLEMENTARIO" />
<canvas id="barcode"></canvas>